body {
    font-family: "Roboto", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body.light-mode {
    background-color: #f9f9f9;
    color: #000;
}

body.dark-mode {
    background-color: #121212;
    color: #fff;
}

.theme-toggle-button {
    position: fixed;
    top: 15px;
    right: 15px;
    padding: 10px;
    background: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1100;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
}

.theme-toggle-button:hover {
    background: #45a049;
}

.welcome-container {
    text-align: center;
    padding: 20px;
    background: linear-gradient(135deg, #4caf50, #81c784);
    color: white;
    font-family: "Poppins", Arial, sans-serif;
}

.popup {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 33%;
    overflow-y: auto;
    padding: 10px;
    background: white;
    box-shadow: 0 -4px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-top: 5px solid #4caf50;
    border-radius: 15px 15px 0 0;
    font-family: "Roboto", Arial, sans-serif;
}

.popup .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.popup .search-container input {
    width: 70%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.popup .search-container button {
    padding: 6px;
    background: #4caf50;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.popup .search-container button img {
    width: 16px;
    height: 16px;
}

.popup .popup-content {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.popup-content .left-content,
.popup-content .right-content {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.popup-content .left-content {
    background: #f1f8e9;
}

.popup-content .right-content {
    background: #f9f9f9;
}

.popup-content p {
    margin: 5px 0;
}

.popup-content ul {
    padding-left: 15px;
}

.popup-content li {
    margin-bottom: 5px;
}

.popup-content .left-content p,
.popup-content .left-content ul {
    margin-bottom: 5px;
}

.divider {
    margin: 8px 0;
    border-top: 2px dashed #4caf50;
}

.voice-icon {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.voice-icon img {
    width: 100%;
    height: 100%;
}

.loading {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 8000;
    text-align: center;
    font-size: 128px;
    font-weight: bold;
}

.loading img {
    width: 300px;
    height: 300px;
}

.blurred {
    filter: blur(5px);
    pointer-events: none;
}

.dark-mode .welcome-container {
    background: linear-gradient(135deg, #212121, #484848);
    color: #fff;
}

.dark-mode .popup {
    background: #2e2e2e;
    color: #fff;
}

.dark-mode .popup .left-content {
    background: #383838;
}

.dark-mode .popup .right-content {
    background: #484848;
}

.dark-mode .popup-content p,
.dark-mode .popup-content ul {
    color: #d4d4d4;
}

.dark-mode .loading img {
    filter: brightness(1.5) invert(1);
}

.welcome-container h1,
.welcome-container p {
    color: #333;
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.7);
    font-family: "Poppins", Arial, sans-serif;
}

.dark-mode .welcome-container h1,
.dark-mode .welcome-container p {
    color: #e0e0e0;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    font-family: "Poppins", Arial, sans-serif;
}

.dark-mode .theme-toggle-button {
    background: #000;
    color: #fff;
    border: 1px solid #fff;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2);
}

.dark-mode .theme-toggle-button:hover {
    background: #333;
    color: #fff;
    border-color: #ccc;
}

.light-mode .loading {
    color: rgb(10, 121, 13);
}

.dark-mode .loading {
    color: #e0e0e0;
}

.popup .example-label {
    color: green;
    margin-left: 20px;
}

.dark-mode .popup .example-term {
    background-color: rgb(73, 73, 8);
    letter-spacing: 0.108em;
    font-weight: 600;
}

.light-mode .popup .example-term {
    background-color: rgb(255, 255, 136);
    letter-spacing: 0.108em;
    font-weight: 600;
}

.popup .header {
    font-family: "Poppins",
        Arial,
        sans-serif;
}

.light-mode .popup .example-content {
    color: #474747;
}

.dark-mode .popup .example-content {
    color: #b9b9b9;
}