<!DOCTYPE html>
{% load static %}
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحه خانه</title>
    <link rel="stylesheet" href="{% static 'base/home_style.css' %}">
    <link rel="stylesheet" href="{% static 'base/popup_style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body class="light-mode">
    <button class="theme-toggle-button" id="themeToggle">Switch to Dark Mode</button>
    <div class="welcome-container" id="mainContent">
        <h1>خوش آمدید به گروه {{ group_number }}</h1>
        <h2 style="text-align: right;">روی یک کلمه در متن تست زیر دوبار کلیک کنید تا دیکشنری باز شود</h2>
        <p id="content">The curious fox wandered cautiously through the dense forest, its sleek fur glinting under the pale moonlight.</p>
    </div>

    <div class="loading" id="loading">
        <img src="https://i.gifer.com/YCZH.gif" alt="Loading">
        <p></p>
    </div>

    <div class="popup" id="popup">
        <div class="search-container">
            <input type="text" id="searchBox" placeholder="Enter a word to search" onkeypress="if(event.key === 'Enter') handleSearchClick()">
            <button id="searchButton">
                <img src="{% static 'images/search.png' %}" alt="Search">
            </button>
        </div>
        <div class="popup-content">
            <div class="left-content">
                <p class="header"><strong>Term:</strong> <span id="term"></span></p>
                <p class="header"><strong>Meanings:</strong></p>
                <ul id="meaningsList">No meanings available</ul>
            </div>
            <div class="right-content">
                <p><strong>Phonetics:</strong></p>
                <ul id="phoneticsList"></ul>
                <p><strong>Synonyms:</strong></p>
                <p id="synonymsList">No synonyms available</p>
                <p><strong>Antonyms:</strong></p>
                <p id="antonymsList">No antonyms available</p>
            </div>
        </div>
    </div>

    <script src="{% static 'js/dictionary.js' %}"></script>
</body>
</html>
